.node {
  width: 20px;
  height: 20px;
  outline: 1px solid grey;
  display: inline-block;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: red;
}

.node-visited {
  background-color: blue;
  animation-name: animate-visited;
  animation-duration: 1s;
}

.node-short,
.node-current {
  background-color: yellow;
}

@keyframes animate-visited {
  from {
    background-color: cyan;
  }
  to {
    background-color: blue;
  }
}
