.grid {
  margin: 100px 0 0;
}

.navbar {
  background-color: rgba(20, 22, 31, 0.808);
  height: 100%;
  width: 100%;
  text-align: left;
}

.brand {
  margin-left: 15px;
  vertical-align: middle;
  color: white;
  font-size: 1.7em;
  display: inline-block;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
}
